In [27]:
import pandas as pd
RA_White=pd.read_csv('../../Obstetric accessibility visualization/Georgia/ACSDT5Y2017.B01001A-Data.csv')

In [28]:
RA_White.head()
columns_list = RA_White.columns.tolist()

print(columns_list)

['GEO_ID', 'NAME', 'B01001A_001E', 'B01001A_001M', 'B01001A_002E', 'B01001A_002M', 'B01001A_003E', 'B01001A_003M', 'B01001A_004E', 'B01001A_004M', 'B01001A_005E', 'B01001A_005M', 'B01001A_006E', 'B01001A_006M', 'B01001A_007E', 'B01001A_007M', 'B01001A_008E', 'B01001A_008M', 'B01001A_009E', 'B01001A_009M', 'B01001A_010E', 'B01001A_010M', 'B01001A_011E', 'B01001A_011M', 'B01001A_012E', 'B01001A_012M', 'B01001A_013E', 'B01001A_013M', 'B01001A_014E', 'B01001A_014M', 'B01001A_015E', 'B01001A_015M', 'B01001A_016E', 'B01001A_016M', 'B01001A_017E', 'B01001A_017M', 'B01001A_018E', 'B01001A_018M', 'B01001A_019E', 'B01001A_019M', 'B01001A_020E', 'B01001A_020M', 'B01001A_021E', 'B01001A_021M', 'B01001A_022E', 'B01001A_022M', 'B01001A_023E', 'B01001A_023M', 'B01001A_024E', 'B01001A_024M', 'B01001A_025E', 'B01001A_025M', 'B01001A_026E', 'B01001A_026M', 'B01001A_027E', 'B01001A_027M', 'B01001A_028E', 'B01001A_028M', 'B01001A_029E', 'B01001A_029M', 'B01001A_030E', 'B01001A_030M', 'B01001A_031E', 'B01001A_031M', 'Unnamed: 64']

In [29]:
RA_White.rename(columns=RA_White.iloc[0], inplace=True)
RA_White_df = RA_White[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 44 years',
]]
RA_White_df_copy = RA_White_df.copy()
RA_White_df_copy.drop(RA_White_df.index[0], inplace=True)
RA_White_df_copy = RA_White_df_copy.set_index('Geographic Area Name')
RA_White_df_copy = RA_White_df_copy.iloc[1:]
RA_White_df_copy = RA_White_df_copy.astype(int)
RA_White_df_copy['Total Female, 18-44'] = RA_White_df_copy.iloc[:, 1:8].sum(axis=1)
RA_White_df_copy = RA_White_df_copy.iloc[:, -1:]
RA_White_df_copy = RA_White_df_copy.rename(columns={'Total Female, 18-44': 'Total White Female, 18-44'})
RA_White_df_copy

                           Total White Female, 18-44
Geographic Area Name
Atkinson County, Georgia                         908
Bacon County, Georgia                           1342
Baker County, Georgia                            305
Baldwin County, Georgia                         4143
Banks County, Georgia                           2549
...                                              ...
Whitfield County, Georgia                      14987
Wilcox County, Georgia                           620
Wilkes County, Georgia                           615
Wilkinson County, Georgia                        724
Worth County, Georgia                           1983

[158 rows x 1 columns]

In [30]:

RA_BlackorAfricanAmerican=pd.read_csv('../../Obstetric accessibility visualization/Georgia/BlackorAfricanAmericanCountyAlone.csv')

In [31]:
RA_BlackorAfricanAmerican.rename(columns=RA_BlackorAfricanAmerican.iloc[0], inplace=True)
RA_BlackorAfricanAmerican_df = RA_BlackorAfricanAmerican[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 44 years',
]]
RA_BlackorAfricanAmerican_df_copy = RA_BlackorAfricanAmerican_df.copy()
RA_BlackorAfricanAmerican_df_copy.drop(RA_BlackorAfricanAmerican_df.index[0], inplace=True)
RA_BlackorAfricanAmerican_df_copy = RA_BlackorAfricanAmerican_df_copy.set_index('Geographic Area Name')
RA_BlackorAfricanAmerican_df_copy = RA_BlackorAfricanAmerican_df_copy.iloc[1:]
RA_BlackorAfricanAmerican_df_copy = RA_BlackorAfricanAmerican_df_copy.astype(int)
RA_BlackorAfricanAmerican_df_copy['Total Female, 18-44'] = RA_BlackorAfricanAmerican_df_copy.sum(axis=1)
RA_BlackorAfricanAmerican_df_copy = RA_BlackorAfricanAmerican_df_copy[['Total Female, 18-44']]
RA_BlackorAfricanAmerican_df_copy = RA_BlackorAfricanAmerican_df_copy.rename(columns={'Total Female, 18-44': 'Total BlackorAfricanAmerican Female, 18-44'})
RA_BlackorAfricanAmerican_df_copy.sum()

Total BlackorAfricanAmerican Female, 18-44    673559
dtype: int64

In [32]:

RA_Asian=pd.read_csv('../../Obstetric accessibility visualization/Georgia/AsianAlonebyCounty.csv')

In [33]:
RA_Asian.rename(columns=RA_Asian.iloc[0], inplace=True)
RA_Asian_df = RA_Asian[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 44 years',
]]
RA_Asian_df_copy = RA_Asian_df.copy()
RA_Asian_df_copy.drop(RA_Asian_df.index[0], inplace=True)
RA_Asian_df_copy = RA_Asian_df_copy.set_index('Geographic Area Name')
RA_Asian_df_copy = RA_Asian_df_copy.iloc[1:]
RA_Asian_df_copy = RA_Asian_df_copy.astype(int)
RA_Asian_df_copy['Total Female, 18-44'] = RA_Asian_df_copy.sum(axis=1)
RA_Asian_df_copy = RA_Asian_df_copy[['Total Female, 18-44']]
RA_Asian_df_copy = RA_Asian_df_copy.rename(columns={'Total Female, 18-44': 'Total Asian Female, 18-44'})
RA_Asian_df_copy.sum()

Total Asian Female, 18-44    90806
dtype: int64

In [34]:

RA_HispanicORlatino=pd.read_csv('../../Obstetric accessibility visualization/Georgia/HispanicorLatinoAlonebyCounty.csv')

In [35]:
RA_HispanicORlatino.rename(columns=RA_HispanicORlatino.iloc[0], inplace=True)
RA_HispanicORlatino_df = RA_HispanicORlatino[[
    'Geographic Area Name',
    'Estimate!!Total!!Female!!18 and 19 years',
    'Estimate!!Total!!Female!!20 to 24 years',
    'Estimate!!Total!!Female!!25 to 29 years',
    'Estimate!!Total!!Female!!30 to 34 years',
    'Estimate!!Total!!Female!!35 to 44 years',
]]
RA_HispanicORlatino_df_copy = RA_HispanicORlatino_df.copy()
RA_HispanicORlatino_df_copy.drop(RA_HispanicORlatino_df.index[0], inplace=True)
RA_HispanicORlatino_df_copy = RA_HispanicORlatino_df_copy.set_index('Geographic Area Name')
RA_HispanicORlatino_df_copy = RA_HispanicORlatino_df_copy.iloc[1:]
RA_HispanicORlatino_df_copy = RA_HispanicORlatino_df_copy.astype(int)
RA_HispanicORlatino_df_copy['Total Female, 18-44'] = RA_HispanicORlatino_df_copy.sum(axis=1)
RA_HispanicORlatino_df_copy = RA_HispanicORlatino_df_copy[['Total Female, 18-44']]
RA_HispanicORlatino_df_copy = RA_HispanicORlatino_df_copy.rename(columns={'Total Female, 18-44': 'Total HispanicORlatino Female, 18-44'})
RA_HispanicORlatino_df_copy.sum()

Total HispanicORlatino Female, 18-44    191187
dtype: int64

In [36]:
merged_df = RA_BlackorAfricanAmerican_df_copy.merge(RA_HispanicORlatino_df_copy, on='Geographic Area Name').merge(RA_White_df_copy, on='Geographic Area Name').merge(RA_Asian_df_copy, on='Geographic Area Name')
merged_df

,"Total BlackorAfricanAmerican Female, 18-44","Total HispanicORlatino Female, 18-44","Total White Female, 18-44","Total Asian Female, 18-44"
Geographic Area Name,,,,
"Atkinson County, Georgia",225,355,908,0
"Bacon County, Georgia",336,131,1342,54
"Baker County, Georgia",149,59,305,4
"Baldwin County, Georgia",3542,243,4143,132
"Banks County, Georgia",149,205,2549,27
...,...,...,...,...
"Whitfield County, Georgia",684,7223,14987,242
"Wilcox County, Georgia",357,30,620,0
"Wilkes County, Georgia",664,152,615,27
"Wilkinson County, Georgia",601,46,724,0
"Worth County, Georgia",1127,17,1983,31

In [37]:
def calculate_proportions(row):
    row_sum = row.sum()
    if row_sum != 0:
        return row / row_sum
    else:
        return row

# Apply the function to each row
proportion_df = merged_df.apply(calculate_proportions, axis=1)

# Display the resulting DataFrame
proportion_df

,"Total BlackorAfricanAmerican Female, 18-44","Total HispanicORlatino Female, 18-44","Total White Female, 18-44","Total Asian Female, 18-44"
Geographic Area Name,,,,
"Atkinson County, Georgia",0.151210,0.238575,0.610215,0.000000
"Bacon County, Georgia",0.180354,0.070317,0.720344,0.028986
"Baker County, Georgia",0.288201,0.114120,0.589942,0.007737
"Baldwin County, Georgia",0.439454,0.030149,0.514020,0.016377
"Banks County, Georgia",0.050853,0.069966,0.869966,0.009215
...,...,...,...,...
"Whitfield County, Georgia",0.029564,0.312197,0.647778,0.010460
"Wilcox County, Georgia",0.354518,0.029791,0.615690,0.000000
"Wilkes County, Georgia",0.455418,0.104252,0.421811,0.018519
"Wilkinson County, Georgia",0.438366,0.033552,0.528082,0.000000
"Worth County, Georgia",0.356871,0.005383,0.627929,0.009816

In [38]:
proportion_df=proportion_df.reset_index()

In [39]:
proportion_df['County'] = proportion_df['Geographic Area Name'].str.split(',').str[0]
proportion_df['County'] = proportion_df['County'].str.replace(' County', '')
proportion_df

,Geographic Area Name,"Total BlackorAfricanAmerican Female, 18-44","Total HispanicORlatino Female, 18-44","Total White Female, 18-44","Total Asian Female, 18-44",County
0,"Atkinson County, Georgia",0.151210,0.238575,0.610215,0.000000,Atkinson
1,"Bacon County, Georgia",0.180354,0.070317,0.720344,0.028986,Bacon
2,"Baker County, Georgia",0.288201,0.114120,0.589942,0.007737,Baker
3,"Baldwin County, Georgia",0.439454,0.030149,0.514020,0.016377,Baldwin
4,"Banks County, Georgia",0.050853,0.069966,0.869966,0.009215,Banks
...,...,...,...,...,...,...
153,"Whitfield County, Georgia",0.029564,0.312197,0.647778,0.010460,Whitfield
154,"Wilcox County, Georgia",0.354518,0.029791,0.615690,0.000000,Wilcox
155,"Wilkes County, Georgia",0.455418,0.104252,0.421811,0.018519,Wilkes
156,"Wilkinson County, Georgia",0.438366,0.033552,0.528082,0.000000,Wilkinson
157,"Worth County, Georgia",0.356871,0.005383,0.627929,0.009816,Worth

In [40]:
RA_Georgia=pd.read_csv('../../Obstetric accessibility visualization/Georgia/BG_County_numbers.csv')

                  Geography    County  Population
2087  1500000US130039601001  Atkinson         139
2088  1500000US130039603001  Atkinson         303
2089  1500000US130039602001  Atkinson         202
2090  1500000US130039602003  Atkinson         415
2091  1500000US130039602002  Atkinson         198
2092  1500000US130039601002  Atkinson         127

In [41]:
merged_df = pd.merge(RA_Georgia, proportion_df, on='County')
merged_df

,Geography,County,Population,Geographic Area Name,"Total BlackorAfricanAmerican Female, 18-44","Total HispanicORlatino Female, 18-44","Total White Female, 18-44","Total Asian Female, 18-44"
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",0.597899,0.032933,0.344346,0.024823
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",0.597899,0.032933,0.344346,0.024823
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",0.597899,0.032933,0.344346,0.024823
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",0.597899,0.032933,0.344346,0.024823
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",0.597899,0.032933,0.344346,0.024823
...,...,...,...,...,...,...,...,...
5069,1500000US130939701003,Dooly,112,"Dooly County, Georgia",0.595369,0.088203,0.316428,0.000000
5070,1500000US130939701002,Dooly,269,"Dooly County, Georgia",0.595369,0.088203,0.316428,0.000000
5071,1500000US130939701001,Dooly,183,"Dooly County, Georgia",0.595369,0.088203,0.316428,0.000000
5072,1500000US130939703002,Dooly,205,"Dooly County, Georgia",0.595369,0.088203,0.316428,0.000000
5073,1500000US130939703004,Dooly,150,"Dooly County, Georgia",0.595369,0.088203,0.316428,0.000000

In [42]:
columns_to_multiply = [
    'Total BlackorAfricanAmerican Female, 18-44', 
    'Total HispanicORlatino Female, 18-44', 
    'Total White Female, 18-44', 
    'Total Asian Female, 18-44'
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Population'])

# Display the modified DataFrame
merged_df

,Geography,County,Population,Geographic Area Name,"Total BlackorAfricanAmerican Female, 18-44","Total HispanicORlatino Female, 18-44","Total White Female, 18-44","Total Asian Female, 18-44"
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",61.583548,3.392052,35.467649,2.556750
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",110.013328,6.059589,63.359684,4.567399
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",72.943620,4.017771,42.010225,3.028384
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",218.232961,12.020380,125.686330,9.060329
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",263.673248,14.523254,151.856634,10.946864
...,...,...,...,...,...,...,...,...
5069,1500000US130939701003,Dooly,112,"Dooly County, Georgia",66.681367,9.878721,35.439912,0.000000
5070,1500000US130939701002,Dooly,269,"Dooly County, Georgia",160.154355,23.726571,85.119074,0.000000
5071,1500000US130939701001,Dooly,183,"Dooly County, Georgia",108.952591,16.141125,57.906284,0.000000
5072,1500000US130939703002,Dooly,205,"Dooly County, Georgia",122.050717,18.081588,64.867696,0.000000
5073,1500000US130939703004,Dooly,150,"Dooly County, Georgia",89.305402,13.230430,47.464168,0.000000

<h1>Reproductive Aged women across various races at Block group level</h1>

In [43]:
columns_to_round = [
    'Total BlackorAfricanAmerican Female, 18-44', 
    'Total HispanicORlatino Female, 18-44', 
    'Total White Female, 18-44', 
    'Total Asian Female, 18-44'
]

for index, row in merged_df.iterrows():
    # Round all but the last value
    for column in columns_to_round[:-1]:
        merged_df.at[index, column] = round(row[column])
    
    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    merged_df.at[index, last_column] = row['Population'] - sum([round(row[col]) for col in columns_to_round[:-1]])

merged_df

,Geography,County,Population,Geographic Area Name,"Total BlackorAfricanAmerican Female, 18-44","Total HispanicORlatino Female, 18-44","Total White Female, 18-44","Total Asian Female, 18-44"
0,1500000US130210131023,Bibb,103,"Bibb County, Georgia",62.0,3.0,35.0,3.0
1,1500000US130210131024,Bibb,184,"Bibb County, Georgia",110.0,6.0,63.0,5.0
2,1500000US130210132014,Bibb,122,"Bibb County, Georgia",73.0,4.0,42.0,3.0
3,1500000US130210131022,Bibb,365,"Bibb County, Georgia",218.0,12.0,126.0,9.0
4,1500000US130210131011,Bibb,441,"Bibb County, Georgia",264.0,15.0,152.0,10.0
...,...,...,...,...,...,...,...,...
5069,1500000US130939701003,Dooly,112,"Dooly County, Georgia",67.0,10.0,35.0,0.0
5070,1500000US130939701002,Dooly,269,"Dooly County, Georgia",160.0,24.0,85.0,0.0
5071,1500000US130939701001,Dooly,183,"Dooly County, Georgia",109.0,16.0,58.0,0.0
5072,1500000US130939703002,Dooly,205,"Dooly County, Georgia",122.0,18.0,65.0,0.0
5073,1500000US130939703004,Dooly,150,"Dooly County, Georgia",89.0,13.0,47.0,1.0