In [32]:
import pandas as pd
RA_White=pd.read_csv('../../Obstetric accessibility visualization/Data/RA_White_CensusTract.csv')

<h1> RA Women on a census tract level in Iowa </h1>

In [33]:
RA_White.rename(columns=RA_White.iloc[0],inplace=True)
columns_list = RA_White.columns.tolist()
#print(columns_list)
filtered_list = [item for item in columns_list if "Male" not in str(item)]

In [34]:
RA_White_df = RA_White[[
    'Geographic Area Name',
        'Estimate!!Total:!!Female:!!18 and 19 years',
        'Estimate!!Total:!!Female:!!20 to 24 years',
        'Estimate!!Total:!!Female:!!25 to 29 years',
        'Estimate!!Total:!!Female:!!30 to 34 years',
        'Estimate!!Total:!!Female:!!35 to 44 years']]

In [35]:
RA_White_df_copy=RA_White_df.copy()
RA_White_df_copy.drop(RA_White_df.index[0], inplace=True)
RA_White_df_copy = RA_White_df_copy.set_index('Geographic Area Name')

In [36]:
RA_White_df_copy= RA_White_df_copy.iloc[1:]
RA_White_df_copy = RA_White_df_copy.astype(int)
RA_White_df_copy['Total Female, 18-44'] = RA_White_df_copy.iloc[:,1:8].sum(axis=1)
RA_White_df_copy = RA_White_df_copy.iloc[:, -1:]
RA_White_df_copy = RA_White_df_copy.rename(columns={'Total Female, 18-44': 'Total White Female, 18-44'})
RA_White_df_copy.head()

                                           Total White Female, 18-44
Geographic Area Name
Census Tract 9602; Adair County; Iowa                            192
Census Tract 9603; Adair County; Iowa                            381
Census Tract 9501; Adams County; Iowa                            198
Census Tract 9502; Adams County; Iowa                            235
Census Tract 9601; Allamakee County; Iowa                        201

In [37]:
RA_Black=pd.read_csv('../../Obstetric accessibility visualization/Data/RA_BlckorAfricanAmerican_CensusTract.csv')

In [38]:
RA_Black.rename(columns=RA_Black.iloc[0],inplace=True)
RA_Black_df = RA_Black[[
    'Geographic Area Name',
        'Estimate!!Total:!!Female:!!18 and 19 years',
        'Estimate!!Total:!!Female:!!20 to 24 years',
        'Estimate!!Total:!!Female:!!25 to 29 years',
        'Estimate!!Total:!!Female:!!30 to 34 years',
        'Estimate!!Total:!!Female:!!35 to 44 years']]

RA_Black_df_copy = RA_Black_df.copy()
RA_Black_df_copy.drop(RA_Black_df.index[0], inplace=True)
RA_Black_df_copy = RA_Black_df_copy.set_index('Geographic Area Name')
RA_Black_df_copy = RA_Black_df_copy.iloc[1:]
RA_Black_df_copy = RA_Black_df_copy.astype(int)
RA_Black_df_copy['Total Female, 18-44'] = RA_Black_df_copy.iloc[:,1:8].sum(axis=1)
RA_Black_df_copy = RA_Black_df_copy.iloc[:, -1:]
RA_Black_df_copy = RA_Black_df_copy.rename(columns={'Total Female, 18-44': 'Total Black or African American Female, 18-44'})
RA_Black_df_copy.head()

                                           Total Black or African American Female, 18-44
Geographic Area Name
Census Tract 9602; Adair County; Iowa                                                  0
Census Tract 9603; Adair County; Iowa                                                  0
Census Tract 9501; Adams County; Iowa                                                  0
Census Tract 9502; Adams County; Iowa                                                  0
Census Tract 9601; Allamakee County; Iowa                                              0

In [39]:
RA_AmericanIndian=pd.read_csv('../../Obstetric accessibility visualization/Data/RA_AmericanIndian_or_AlaskaNative_CensusTract.csv')

In [40]:
RA_AmericanIndian.rename(columns=RA_AmericanIndian.iloc[0], inplace=True)
RA_AmericanIndian_df = RA_AmericanIndian[[
    'Geographic Area Name',
    'Estimate!!Total:!!Female:!!18 and 19 years',
    'Estimate!!Total:!!Female:!!20 to 24 years',
    'Estimate!!Total:!!Female:!!25 to 29 years',
    'Estimate!!Total:!!Female:!!30 to 34 years',
    'Estimate!!Total:!!Female:!!35 to 44 years']]

RA_AmericanIndian_df_copy = RA_AmericanIndian_df.copy()
RA_AmericanIndian_df_copy.drop(RA_AmericanIndian_df.index[0], inplace=True)
RA_AmericanIndian_df_copy = RA_AmericanIndian_df_copy.set_index('Geographic Area Name')
RA_AmericanIndian_df_copy = RA_AmericanIndian_df_copy.iloc[1:]
RA_AmericanIndian_df_copy = RA_AmericanIndian_df_copy.astype(int)
RA_AmericanIndian_df_copy['Total Female, 18-44'] = RA_AmericanIndian_df_copy.iloc[:,1:8].sum(axis=1)
RA_AmericanIndian_df_copy = RA_AmericanIndian_df_copy.iloc[:, -1:]
RA_AmericanIndian_df_copy = RA_AmericanIndian_df_copy.rename(columns={'Total Female, 18-44': 'Total American Indian and Alaska Native Female, 18-44'})
RA_AmericanIndian_df_copy.head()

                                           Total American Indian and Alaska Native Female, 18-44
Geographic Area Name
Census Tract 9602; Adair County; Iowa                                                      0
Census Tract 9603; Adair County; Iowa                                                      0
Census Tract 9501; Adams County; Iowa                                                      0
Census Tract 9502; Adams County; Iowa                                                      0
Census Tract 9601; Allamakee County; Iowa                                                  4

In [41]:
RA_Asian= pd.read_csv('../../Obstetric accessibility visualization/Data/RA_Asian_CensusTact.csv')

In [42]:
RA_Asian.rename(columns=RA_Asian.iloc[0], inplace=True)
RA_Asian_df = RA_Asian[[
    'Geographic Area Name',
    'Estimate!!Total:!!Female:!!18 and 19 years',
    'Estimate!!Total:!!Female:!!20 to 24 years',
    'Estimate!!Total:!!Female:!!25 to 29 years',
    'Estimate!!Total:!!Female:!!30 to 34 years',
    'Estimate!!Total:!!Female:!!35 to 44 years']]

RA_Asian_df_copy = RA_Asian_df.copy()
RA_Asian_df_copy.drop(RA_Asian_df.index[0], inplace=True)
RA_Asian_df_copy = RA_Asian_df_copy.set_index('Geographic Area Name')
RA_Asian_df_copy = RA_Asian_df_copy.iloc[1:]
RA_Asian_df_copy = RA_Asian_df_copy.astype(int)
RA_Asian_df_copy['Total Female, 18-44'] = RA_Asian_df_copy.iloc[:,1:8].sum(axis=1)
RA_Asian_df_copy = RA_Asian_df_copy.iloc[:, -1:]
RA_Asian_df_copy = RA_Asian_df_copy.rename(columns={'Total Female, 18-44': 'Total Asian Female, 18-44'})
RA_Asian_df_copy.head()

                                           Total Asian Female, 18-44
Geographic Area Name
Census Tract 9602; Adair County; Iowa                              0
Census Tract 9603; Adair County; Iowa                              0
Census Tract 9501; Adams County; Iowa                              0
Census Tract 9502; Adams County; Iowa                              0
Census Tract 9601; Allamakee County; Iowa                          0

In [43]:
RA_NativeHawaiian= pd.read_csv('../../Obstetric accessibility visualization/Data/RA_NativeHawaiin_otherpacific_Censustract.csv')

In [44]:
RA_NativeHawaiian.rename(columns=RA_NativeHawaiian.iloc[0], inplace=True)
RA_NativeHawaiian_df = RA_NativeHawaiian[[
    'Geographic Area Name',
    'Estimate!!Total:!!Female:!!18 and 19 years',
    'Estimate!!Total:!!Female:!!20 to 24 years',
    'Estimate!!Total:!!Female:!!25 to 29 years',
    'Estimate!!Total:!!Female:!!30 to 34 years',
    'Estimate!!Total:!!Female:!!35 to 44 years']]

RA_NativeHawaiian_df_copy = RA_NativeHawaiian_df.copy()
RA_NativeHawaiian_df_copy.drop(RA_NativeHawaiian_df.index[0], inplace=True)
RA_NativeHawaiian_df_copy = RA_NativeHawaiian_df_copy.set_index('Geographic Area Name')
RA_NativeHawaiian_df_copy = RA_NativeHawaiian_df_copy.iloc[1:]
RA_NativeHawaiian_df_copy = RA_NativeHawaiian_df_copy.astype(int)
RA_NativeHawaiian_df_copy['Total Female, 18-44'] = RA_NativeHawaiian_df_copy.iloc[:,1:8].sum(axis=1)
RA_NativeHawaiian_df_copy = RA_NativeHawaiian_df_copy.iloc[:, -1:]
RA_NativeHawaiian_df_copy = RA_NativeHawaiian_df_copy.rename(columns={'Total Female, 18-44': 'Total Native Hawaiian & Other Pacific Islander Female, 18-44'})
RA_NativeHawaiian_df_copy.head()

                                           Total Native Hawaiian & Other Pacific Islander Female, 18-44
Geographic Area Name
Census Tract 9602; Adair County; Iowa                                                      0
Census Tract 9603; Adair County; Iowa                                                      0
Census Tract 9501; Adams County; Iowa                                                      0
Census Tract 9502; Adams County; Iowa                                                      0
Census Tract 9601; Allamakee County; Iowa                                                  0

In [45]:
merged_df = RA_NativeHawaiian_df_copy.merge(RA_Asian_df_copy, on='Geographic Area Name').merge(RA_AmericanIndian_df_copy, on='Geographic Area Name').merge(RA_Black_df_copy, on='Geographic Area Name').merge(RA_White_df_copy, on='Geographic Area Name')

merged_df
#merged_df.to_csv('RAWomen_CensusTract_For_Iowa.csv', index=False)

,"Total Native Hawaiian & Other Pacific Islander Female, 18-44","Total Asian Female, 18-44","Total American Indian and Alaska Native Female, 18-44","Total Black or African American Female, 18-44","Total White Female, 18-44"
Geographic Area Name,,,,,
Census Tract 9602; Adair County; Iowa,0,0,0,0,192
Census Tract 9603; Adair County; Iowa,0,0,0,0,381
Census Tract 9501; Adams County; Iowa,0,0,0,0,198
Census Tract 9502; Adams County; Iowa,0,0,0,0,235
Census Tract 9601; Allamakee County; Iowa,0,0,4,0,201
...,...,...,...,...,...
Census Tract 6801; Wright County; Iowa,0,0,0,0,421
Census Tract 6802; Wright County; Iowa,0,0,0,0,195
Census Tract 6803; Wright County; Iowa,0,21,0,0,406
Census Tract 6804; Wright County; Iowa,0,0,0,0,157
Census Tract 6805; Wright County; Iowa,0,0,0,0,378

<h1> RA women in Iowa on a block group level using census tract data </h1>

In [46]:

def calculate_proportions(row):
    row_sum = row.sum()
    if row_sum != 0:
        return row / row_sum
    else:
        return row

# Apply the function to each row
proportion_df = merged_df.apply(calculate_proportions, axis=1)

proportion_df=proportion_df.reset_index()
proportion_df

,Geographic Area Name,"Total Native Hawaiian & Other Pacific Islander Female, 18-44","Total Asian Female, 18-44","Total American Indian and Alaska Native Female, 18-44","Total Black or African American Female, 18-44","Total White Female, 18-44"
0,Census Tract 9602; Adair County; Iowa,0.0,0.00000,0.000000,0.0,1.000000
1,Census Tract 9603; Adair County; Iowa,0.0,0.00000,0.000000,0.0,1.000000
2,Census Tract 9501; Adams County; Iowa,0.0,0.00000,0.000000,0.0,1.000000
3,Census Tract 9502; Adams County; Iowa,0.0,0.00000,0.000000,0.0,1.000000
4,Census Tract 9601; Allamakee County; Iowa,0.0,0.00000,0.019512,0.0,0.980488
...,...,...,...,...,...,...
890,Census Tract 6801; Wright County; Iowa,0.0,0.00000,0.000000,0.0,1.000000
891,Census Tract 6802; Wright County; Iowa,0.0,0.00000,0.000000,0.0,1.000000
892,Census Tract 6803; Wright County; Iowa,0.0,0.04918,0.000000,0.0,0.950820
893,Census Tract 6804; Wright County; Iowa,0.0,0.00000,0.000000,0.0,1.000000
894,Census Tract 6805; Wright County; Iowa,0.0,0.00000,0.000000,0.0,1.000000

In [47]:
RA_Iowa_BG = pd.read_csv('../../Obstetric accessibility visualization/Data/RA_women_Iowa_Total_BGLevel.csv')

In [48]:


RA_Iowa_BG.rename(columns=RA_Iowa_BG.iloc[0], inplace=True)
RA_Iowa_BG_df = RA_Iowa_BG[[
    'Geographic Area Name',
    'Estimate!!Total:!!Female:!!18 and 19 years',
    'Estimate!!Total:!!Female:!!20 years',
    'Estimate!!Total:!!Female:!!22 to 24 years',
    'Estimate!!Total:!!Female:!!25 to 29 years',
    'Estimate!!Total:!!Female:!!30 to 34 years',
    'Estimate!!Total:!!Female:!!30 to 34 years',
    'Estimate!!Total:!!Female:!!35 to 39 years',
    'Estimate!!Total:!!Female:!!40 to 44 years'
]]

RA_Iowa_BG_df_copy = RA_Iowa_BG_df.copy()
RA_Iowa_BG_df_copy.drop(RA_Iowa_BG_df.index[0], inplace=True)
age_columns = [
    'Estimate!!Total:!!Female:!!18 and 19 years',
    'Estimate!!Total:!!Female:!!20 years',
    'Estimate!!Total:!!Female:!!22 to 24 years',
    'Estimate!!Total:!!Female:!!25 to 29 years',
    'Estimate!!Total:!!Female:!!30 to 34 years',
    'Estimate!!Total:!!Female:!!30 to 34 years',
    'Estimate!!Total:!!Female:!!35 to 39 years',
    'Estimate!!Total:!!Female:!!40 to 44 years'
]
for col in age_columns:
    if col in RA_Iowa_BG_df_copy.columns:
        RA_Iowa_BG_df_copy[col] = RA_Iowa_BG_df_copy[col].astype(str)  # Ensure it's a string
        RA_Iowa_BG_df_copy[col] = RA_Iowa_BG_df_copy[col].apply(lambda x: pd.to_numeric(x, errors='coerce'))

# Create the new column by summing the specified columns
RA_Iowa_BG_df_copy['Total Female Age 18-44 years'] = RA_Iowa_BG_df_copy[age_columns].sum(axis=1)

# Drop all other columns except 'Geographic Area Name' and the new column
RA_Iowa_BG_df_copy = RA_Iowa_BG_df_copy[['Geographic Area Name', 'Total Female Age 18-44 years']]
RA_Iowa_BG_df_copy.rename(columns={'Geographic Area Name': 'Geographic Area Names'}, inplace=True)

# Extracting the area name from the 'Geographic Area Names' column
RA_Iowa_BG_df_copy['Geographic Area Name'] = RA_Iowa_BG_df_copy['Geographic Area Names'].str.extract(r'; (.*)')

# Display the first few rows of the DataFrame
RA_Iowa_BG_df_copy.head()

,Geographic Area Names,Total Female Age 18-44 years,Geographic Area Name
1,Block Group 1; Census Tract 9601; Adair County...,321,Census Tract 9601; Adair County; Iowa
2,Block Group 2; Census Tract 9601; Adair County...,186,Census Tract 9601; Adair County; Iowa
3,Block Group 3; Census Tract 9601; Adair County...,188,Census Tract 9601; Adair County; Iowa
4,Block Group 1; Census Tract 9602; Adair County...,45,Census Tract 9602; Adair County; Iowa
5,Block Group 2; Census Tract 9602; Adair County...,335,Census Tract 9602; Adair County; Iowa

In [49]:
merged_df = pd.merge(RA_Iowa_BG_df_copy, proportion_df, on='Geographic Area Name')
columns_to_multiply = [
    'Total Native Hawaiian & Other Pacific Islander Female, 18-44',
       'Total Asian Female, 18-44',
       'Total American Indian and Alaska Native Female, 18-44', 
       'Total White Female, 18-44',
'Total Black or African American Female, 18-44'
]

# Performing the multiplication
for column in columns_to_multiply:
    merged_df[column] = (merged_df[column] * merged_df['Total Female Age 18-44 years'])

In [50]:
columns_to_round = [
    'Total Native Hawaiian & Other Pacific Islander Female, 18-44',
       'Total Asian Female, 18-44',
       'Total American Indian and Alaska Native Female, 18-44', 
       'Total White Female, 18-44',
    'Total Black or African American Female, 18-44'
]

for index, row in merged_df.iterrows():
    # Round all but the last value
    for column in columns_to_round[:-1]:
        merged_df.at[index, column] = round(row[column])
    
    # Calculate the last value to ensure the sum matches the Population
    last_column = columns_to_round[-1]
    merged_df.at[index, last_column] = row['Total Female Age 18-44 years'] - sum([round(row[col]) for col in columns_to_round[:-1]])
    
merged_df.drop('Geographic Area Name', axis=1, inplace=True)
merged_df

,Geographic Area Names,Total Female Age 18-44 years,"Total Native Hawaiian & Other Pacific Islander Female, 18-44","Total Asian Female, 18-44","Total American Indian and Alaska Native Female, 18-44","Total Black or African American Female, 18-44","Total White Female, 18-44"
0,Block Group 1; Census Tract 9602; Adair County...,45,0.0,0.0,0.0,0.0,45.0
1,Block Group 2; Census Tract 9602; Adair County...,335,0.0,0.0,0.0,0.0,335.0
2,Block Group 1; Census Tract 9603; Adair County...,144,0.0,0.0,0.0,0.0,144.0
3,Block Group 2; Census Tract 9603; Adair County...,42,0.0,0.0,0.0,0.0,42.0
4,Block Group 3; Census Tract 9603; Adair County...,97,0.0,0.0,0.0,0.0,97.0
...,...,...,...,...,...,...,...
2695,Block Group 1; Census Tract 6804; Wright Count...,238,0.0,0.0,0.0,0.0,238.0
2696,Block Group 1; Census Tract 6805; Wright Count...,182,0.0,0.0,0.0,0.0,182.0
2697,Block Group 2; Census Tract 6805; Wright Count...,191,0.0,0.0,0.0,0.0,191.0
2698,Block Group 3; Census Tract 6805; Wright Count...,261,0.0,0.0,0.0,0.0,261.0
2699,Block Group 4; Census Tract 6805; Wright Count...,104,0.0,0.0,0.0,0.0,104.0

In [52]:
merged_df.to_csv('RAWomen_BlockGroup_For_Iowa.csv', index=False)

<h1> RA Women on a County Level </h1>

In [20]:
RA_White=pd.read_csv('../../Obstetric accessibility visualization/Data/RA_White_CountyLevel.csv')

In [21]:
RA_White.rename(columns=RA_White.iloc[0],inplace=True)
columns_list = RA_White.columns.tolist()
#print(columns_list)
filtered_list = [item for item in columns_list if "Male" not in str(item)]

In [22]:
RA_White_df = RA_White[[
    'Geographic Area Name',
        'Estimate!!Total:!!Female:!!18 and 19 years',
        'Estimate!!Total:!!Female:!!20 to 24 years',
        'Estimate!!Total:!!Female:!!25 to 29 years',
        'Estimate!!Total:!!Female:!!30 to 34 years',
        'Estimate!!Total:!!Female:!!35 to 44 years']]

In [23]:
RA_White_df_copy=RA_White_df.copy()
RA_White_df_copy.drop(RA_White_df.index[0], inplace=True)
RA_White_df_copy = RA_White_df_copy.set_index('Geographic Area Name')

In [24]:
RA_White_df_copy= RA_White_df_copy.iloc[1:]
RA_White_df_copy = RA_White_df_copy.astype(int)
RA_White_df_copy['Total Female, 18-44'] = RA_White_df_copy.iloc[:,1:8].sum(axis=1)
RA_White_df_copy = RA_White_df_copy.iloc[:, -1:]
RA_White_df_copy = RA_White_df_copy.rename(columns={'Total Female, 18-44': 'Total White Female, 18-44'})
RA_White_df_copy.head()

                        Total White Female, 18-44
Geographic Area Name
Adams County, Iowa                            433
Allamakee County, Iowa                       1571
Appanoose County, Iowa                       1514
Audubon County, Iowa                          650
Benton County, Iowa                          3181

In [25]:
RA_Black=pd.read_csv('../../Obstetric accessibility visualization/Data/RA_Black_CountyLevel.csv')

In [26]:
RA_Black.rename(columns=RA_Black.iloc[0],inplace=True)
RA_Black_df = RA_Black[[
    'Geographic Area Name',
        'Estimate!!Total:!!Female:!!18 and 19 years',
        'Estimate!!Total:!!Female:!!20 to 24 years',
        'Estimate!!Total:!!Female:!!25 to 29 years',
        'Estimate!!Total:!!Female:!!30 to 34 years',
        'Estimate!!Total:!!Female:!!35 to 44 years']]

RA_Black_df_copy = RA_Black_df.copy()
RA_Black_df_copy.drop(RA_Black_df.index[0], inplace=True)
RA_Black_df_copy = RA_Black_df_copy.set_index('Geographic Area Name')
RA_Black_df_copy = RA_Black_df_copy.iloc[1:]
RA_Black_df_copy = RA_Black_df_copy.astype(int)
RA_Black_df_copy['Total Female, 18-44'] = RA_Black_df_copy.iloc[:,1:8].sum(axis=1)
RA_Black_df_copy = RA_Black_df_copy.iloc[:, -1:]
RA_Black_df_copy = RA_Black_df_copy.rename(columns={'Total Female, 18-44': 'Total Black or African American Female, 18-44'})
RA_Black_df_copy.head()

                        Total Black or African American Female, 18-44
Geographic Area Name
Adams County, Iowa                                                  0
Allamakee County, Iowa                                             60
Appanoose County, Iowa                                              0
Audubon County, Iowa                                                0
Benton County, Iowa                                                 0

In [27]:
RA_AmericanIndian=pd.read_csv('../../Obstetric accessibility visualization/Data/RA_AmericanIndian_CountyLevel.csv')

In [28]:
RA_AmericanIndian.rename(columns=RA_AmericanIndian.iloc[0], inplace=True)
RA_AmericanIndian_df = RA_AmericanIndian[[
    'Geographic Area Name',
    'Estimate!!Total:!!Female:!!18 and 19 years',
    'Estimate!!Total:!!Female:!!20 to 24 years',
    'Estimate!!Total:!!Female:!!25 to 29 years',
    'Estimate!!Total:!!Female:!!30 to 34 years',
    'Estimate!!Total:!!Female:!!35 to 44 years']]

RA_AmericanIndian_df_copy = RA_AmericanIndian_df.copy()
RA_AmericanIndian_df_copy.drop(RA_AmericanIndian_df.index[0], inplace=True)
RA_AmericanIndian_df_copy = RA_AmericanIndian_df_copy.set_index('Geographic Area Name')
RA_AmericanIndian_df_copy = RA_AmericanIndian_df_copy.iloc[1:]
RA_AmericanIndian_df_copy = RA_AmericanIndian_df_copy.astype(int)
RA_AmericanIndian_df_copy['Total Female, 18-44'] = RA_AmericanIndian_df_copy.iloc[:,1:8].sum(axis=1)
RA_AmericanIndian_df_copy = RA_AmericanIndian_df_copy.iloc[:, -1:]
RA_AmericanIndian_df_copy = RA_AmericanIndian_df_copy.rename(columns={'Total Female, 18-44': 'Total American Indian and Alaska Native Female, 18-44'})
RA_AmericanIndian_df_copy.head()

                        Total American Indian and Alaska Native Female, 18-44
Geographic Area Name
Adams County, Iowa                                                      0
Allamakee County, Iowa                                                 19
Appanoose County, Iowa                                                  0
Audubon County, Iowa                                                    0
Benton County, Iowa                                                     0

In [29]:
RA_Asian= pd.read_csv('../../Obstetric accessibility visualization/Data/RA_Asian_CountyLevel.csv')

In [30]:
RA_Asian.rename(columns=RA_Asian.iloc[0], inplace=True)
RA_Asian_df = RA_Asian[[
    'Geographic Area Name',
    'Estimate!!Total:!!Female:!!18 and 19 years',
    'Estimate!!Total:!!Female:!!20 to 24 years',
    'Estimate!!Total:!!Female:!!25 to 29 years',
    'Estimate!!Total:!!Female:!!30 to 34 years',
    'Estimate!!Total:!!Female:!!35 to 44 years']]

RA_Asian_df_copy = RA_Asian_df.copy()
RA_Asian_df_copy.drop(RA_Asian_df.index[0], inplace=True)
RA_Asian_df_copy = RA_Asian_df_copy.set_index('Geographic Area Name')
RA_Asian_df_copy = RA_Asian_df_copy.iloc[1:]
RA_Asian_df_copy = RA_Asian_df_copy.astype(int)
RA_Asian_df_copy['Total Female, 18-44'] = RA_Asian_df_copy.iloc[:,1:8].sum(axis=1)
RA_Asian_df_copy = RA_Asian_df_copy.iloc[:, -1:]
RA_Asian_df_copy = RA_Asian_df_copy.rename(columns={'Total Female, 18-44': 'Total Asian Female, 18-44'})
RA_Asian_df_copy.head()

                        Total Asian Female, 18-44
Geographic Area Name
Adams County, Iowa                              0
Allamakee County, Iowa                          0
Appanoose County, Iowa                          6
Audubon County, Iowa                            0
Benton County, Iowa                            17

In [31]:
RA_NativeHawaiian= pd.read_csv('../../Obstetric accessibility visualization/Data/RA_NativeHawaiin_CountyLevel.csv')

In [32]:
RA_NativeHawaiian.rename(columns=RA_NativeHawaiian.iloc[0], inplace=True)
RA_NativeHawaiian_df = RA_NativeHawaiian[[
    'Geographic Area Name',
    'Estimate!!Total:!!Female:!!18 and 19 years',
    'Estimate!!Total:!!Female:!!20 to 24 years',
    'Estimate!!Total:!!Female:!!25 to 29 years',
    'Estimate!!Total:!!Female:!!30 to 34 years',
    'Estimate!!Total:!!Female:!!35 to 44 years']]

RA_NativeHawaiian_df_copy = RA_NativeHawaiian_df.copy()
RA_NativeHawaiian_df_copy.drop(RA_NativeHawaiian_df.index[0], inplace=True)
RA_NativeHawaiian_df_copy = RA_NativeHawaiian_df_copy.set_index('Geographic Area Name')
RA_NativeHawaiian_df_copy = RA_NativeHawaiian_df_copy.iloc[1:]
RA_NativeHawaiian_df_copy = RA_NativeHawaiian_df_copy.astype(int)
RA_NativeHawaiian_df_copy['Total Female, 18-44'] = RA_NativeHawaiian_df_copy.iloc[:,1:8].sum(axis=1)
RA_NativeHawaiian_df_copy = RA_NativeHawaiian_df_copy.iloc[:, -1:]
RA_NativeHawaiian_df_copy = RA_NativeHawaiian_df_copy.rename(columns={'Total Female, 18-44': 'Total Native Hawaiian & Other Pacific Islander Female, 18-44'})
RA_NativeHawaiian_df_copy.head()

                        Total Native Hawaiian & Other Pacific Islander Female, 18-44
Geographic Area Name
Adams County, Iowa                                                      0
Allamakee County, Iowa                                                  0
Appanoose County, Iowa                                                  0
Audubon County, Iowa                                                    0
Benton County, Iowa                                                     0

In [33]:
merged_df = RA_NativeHawaiian_df_copy.merge(RA_Asian_df_copy, on='Geographic Area Name').merge(RA_AmericanIndian_df_copy, on='Geographic Area Name').merge(RA_Black_df_copy, on='Geographic Area Name').merge(RA_Asian_df_copy, on='Geographic Area Name').merge(RA_White_df_copy, on='Geographic Area Name')

merged_df
merged_df.to_csv('RAWomen_County_For_Iowa.csv', index=False)